.content {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume a {
    margin-left: 20px;
    font-size: 30px;
    color: #00ccff;
}

.resume a:hover {
    color: #d400d4;
}

.list {
    display: flex;
}

.list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list li {
    list-style: none;
}